/* anonymous-pro-regular - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/anonymous-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v21-latin-regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
/* anonymous-pro-italic - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/anonymous-pro-v21-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/anonymous-pro-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v21-latin-italic.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
/* anonymous-pro-700 - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/anonymous-pro-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v21-latin-700.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
/* anonymous-pro-700italic - latin */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/anonymous-pro-v21-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/anonymous-pro-v21-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/anonymous-pro-v21-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/anonymous-pro-v21-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/anonymous-pro-v21-latin-700italic.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}

.App {
  text-align: center;
  font-family: 'Anonymous Pro';
  color: #BCCCDC !important;
}

.siteName {
  font-weight: 900;
  font-size: 25px !important;
  color: #BCCCDC !important;
}

.titleText {
  font-family: Futura;
  letter-spacing: 4px;
  font-weight: 900;
}

.headerItems > a {
  color: #BCCCDC !important;
  padding-left: 0 !important;
}

.heroPicture {
  margin: 20px auto;
}

.heroDescription {
  font-size: 25px;
  width: 50%;
  line-height: 1;
  letter-spacing: -1px;
  margin-left: auto;
  margin-right: auto;
}

.socialMediaBar {
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
}

.headerBar {
  background-color: #102a43;
}

.footer-container {
  background-color: #102a43;
}

.newsletter-form-email {
  border: none !important;
}

.newsletter-form-submit {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #fff;
  border-radius: 45px;
}

.newsletter-form-submit-button {
  border-radius: 45px !important;
  background-color: #102a43 !important;
}

.contact-info-container {
  border: #102a43 2px solid;
  border-radius: 20px;
  max-width: 500px !important;
}

.contact-info-title {
  text-align: left;
}

.contact-page-container {
  border: #102a43 2px solid;
  border-radius: 20px;
  max-width: 40% !important;
}

.contact-name-label {
  text-align: left;
}

.contact-form-name-group {
  display: flex;
  flex-direction: row;
}

.contact-name {
  width: 95% !important;
}

.contact-form-submit-button {
  background-color: #102a43 !important;
  border: none !important;
}

.timeline-card {
  background-color: #102a43 !important;
  color: #BCCCDC !important;
  font-family: 'Anonymous Pro';
}

.timeline-card .role-name {
  font-family: 'Futura';
}

.work-timeline-dot {
  background-color: red;
}

.school-timeline-dot {
  background-color: greenyellow;
}

.timeline-dot {
  cursor: pointer;
  background-color: #102a43 !important;
}

.timeline-dot-active {
  transform: scale(1.5);
  transition: transform 1.25s ease-in-out;
}

.timeline-item {
  opacity: 0;
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
  /* transition: opacity 1s ease-in-out, transform 1s ease-in-out; */
}

.fade-out {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
}

.fade-out.alternate {
  transform: translateX(-50px);
}

.opposite-fade-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
}

.opposite-fade-out {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
}

.opposite-fade-out.alternate {
  transform: translateX(50px);
}

.timeline-connector-active {
  max-height: 1000px;
  transition: max-height 1.25s ease-in-out;
}

.timeline-main {
  margin: 0 200px;
}

/* Card styling */
.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin: 20px 0;
}

.project-card {
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.6s, width 0.6s, height 0.6s;
  background-color: #102a43 !important;
  color: #BCCCDC !important;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Modal styling */
.modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal content styling */
.modal-content {
  width: 80% !important;
  height: 80%;
  background-color: #334E68 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 0.6s;
  border-radius: 30px !important;
}

/* Card flipped state */
.card.flipped {
  transform: scale(0);
  width: 80%;
  height: 80%;
}

/* Modal show state */
.modal-parent.show {
  display: flex;
}

/* Modal content show state */
.modal-parent.show .modal-content {
  transform: scale(1);
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
}